<h1>Sign in</h1>

<form action="/users/sign-in" method="post">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Sign in"/>
<form/>
