<<<<<<< HEAD


<form action="/links" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
    </div>
    <div>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" />
    </div>
    <div>
    </label>
<label for='tags'>Tags:<input type='text' name='tags'/></label>
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
=======
<h1>Add new link</h1>

<form action='/links/created' method='post'>
  <label>
    Title: <input type='text' name='title'>
  </label>

  <label>
    url: <input type='text' name='url'>
  </label>

  <label>
    tag: <input type='text' name='tags'>
  </label>

  <input type='submit' value='submit'>
>>>>>>> f018a42292ba43017d89858f5c8613c6d4d43417
</form>
