<h1>Add new link</h1>

<form action='/links/created' method='post'>
  <label>
    Title: <input type='text' name='title'>
  </label>

  <label>
    url: <input type='text' name='url'>
  </label>

  <label>
    tag: <input type='text' name='tags'>
  </label>

  <input type='submit' value='submit'>
</form>
