<h1>Sign up</h1>

<form action="/signup" method="post">
  <label for="username">
    Username:
    <input type="text" name="username" value="<%= @new_user.username%>" >
  </label>
  <label for="email">
      Email:
      <input type="email" name="email" value="<%= @new_user.email%>">
  </label>
  <label for="password">
      Password:
      <input type="text" name="password">
  </label>
  <label for="password_confirmation">
      Confirm Password:
      <input type="text" name="password_confirmation">
  </label>
  <button type="submit">Sign up</button>
<form/>
